@charset "UTF-8"

* {
    font-family: Arial, Helvetica, sans-serif ;
}


body {
background-image: linear-gradient(to right, #E9DFC7, #F3EFE5);

}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(#8b8576);
    width: 800px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #BFCCA8;
    text-align: center;
    text-shadow: 3px, 3px, 5px, rgba(#CEBEA3)
}

h2{
    color: #AF9C7C;
}

p { 
    text-align: justify;
}